{% extends 'base.html' %}
{% block content %}






<div class ='feature-area section-gap' id="service">

<div class ='container'>
    <div class="row d-flex justify-content-center">

        <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
                <h1 class="mb-10">User form</h1>
                <p> Who are in extremely love with friendly system</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
         <form method="post" action="{% url 'submitform'%}">
    {% csrf_token  %}
    {{form}}
<!-- <div>
    <label for="">Value1</label>
    <input type="text" name="num1" value='{{n1}}' class="form-control"/>
</div>

<div>
    <label for="">Value 2</label>
    <input type="text" name="num2" value='{{n2}}' class="form-control"/>
</div>
<div>
    <label for="">Value3</label>
    <input type="text" name="num3" value='{{n3}}' class="form-control"/>
</div> -->

<div class="pt-7"></div>
<button type="sumit">Save</button>
output
<input type="text" value="{{output}}"/>



         </form>   
        </div>
    </div>
</div>
</section>

{% endblock %}





<!-- python manage.py startapp services -->
 <!-- python manage.py makemigrations -->
  <!-- python manage.py migrate -->